@media (min-width: 760px) {
    body{
         box-sizing: border-box;
        font-family: montserrat;
    }
    .menu ul{
        list-style: none;
        display: flex;
        justify-content: s;
    }
    .menu a{
        padding-top: 0px;
        color: white;
        text-decoration: none;
    }
    .menu{
        margin-bottom: 0px;
            color: white;
            background-color: #012840;
            display:grid; 
            grid-template-areas: "contact login";
    }
    .menu li{
        margin-left: 3%;
    } 
    select,option{
        border: none;
        color: white;
        background-color: inherit;
    }
    .profile{
        padding: 4px;
        display: grid;
        grid-template-areas: "img profileList";
    } 
    .profile > a{
        text-decoration: none;
        color:black;
        display: inline-flex;
       
        line-height: 0px;
        margin-top: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: oblique;
        padding-left: 10px;

    }
    .profileList ul li+li{
        width: 140px;
    }
    .profile > a> h3{
      
        font-size:25px;
        padding-left: 15px;
    }
    .profileList ul{
        grid-area: profileList;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }
    .profileList li, .profileList a{
        padding: 5px;
    font-weight: bold;
    margin-left: 3%;
    }
    .profileList a{
        text-decoration: none;
        color: black;
    }
    .profileList li:hover, .profileList li:focus, .profileList a:hover, .profileList a:focus{
        color: white;
        background-color: rgb(51, 83, 114);
        border-radius: 3px;
    }
    .login{
        grid-area: login;
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        margin-right: 0;
    }
    .contact{
        grid-area: contact;
        padding-left: 0;
        padding-right: 0%;
    }
    #social{
        display: flex;
        justify-content: flex-end;
    }
    #social li{
        margin: 0px 5px 0 5px;
    }
    .welcome{
        font-size: 25px;
        height: 170px;
        background-blend-mode: multiply;
        background-image: url(bg4.jpg);
        background-repeat:unset;
        color: white;
        text-align: center;
        padding-top: 50px;
    
    }
    .footer p,h1,h2{
        text-align: center;
    }
    h2{
        color: #0388A6;
    }
    form{
        text-align:center;
    }
    input{
        height: 50px;
        width: 300px;
        margin-bottom: 20px;
    }
    button{
        color: white;
        background-color: rgb(4, 41, 78);
        border: none;
        width: 305px;
        height: 50px;
    }
    p a{
        text-decoration: none;
        color: rgb(4, 41, 78)d;
    }
    
    .paymentMethod div{
        display: flex;
        justify-content: center;
        height: 200px;
        margin:20px;
        padding-bottom: 20px;
    }
    .paymentMethod div img{
        margin-left: 30px;
    }
    .footer{
        background-color: #012840;
        color: white;
        padding: 20px;
    }
    
    .footer ul{
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        
    }
    
}
@media (max-width:761px) {
    body{
        font-family: montserrat;
        font-size: 3vw;
        box-sizing: border-box;
    }
    .menu{
        margin-bottom: 0px;
        color: white;
        background-color: #012840;
        display:grid; 
        grid-template-areas: "contact" "login";
    }
        .menu a{
            padding-top: 0px;
            color: white;
            text-decoration: none;
        }
        .menu ul{
            list-style: none;
        }
        .contact{
            display: flex;
            justify-content: space-between;

        }
    select,option{
        border: none;
        color: white;
        background-color: inherit;
    }
    .profileList ul{
        list-style: none;
       display: none;
        justify-content: space-evenly; 
    }


    .profileList li{
        font-weight: bold;
    }
    .profileList a{
        text-decoration: none;
        color: black;
    }
    .profileList li:hover, .profileList li:focus, .profileList a:hover, .profileList a:focus{
        color: white;
        background-color: rgb(51, 83, 114);
        border-radius: 3px;
    }
    .login{
        grid-area: login;
        display: flex;
        justify-content:space-between;
        padding-right: 0;
        margin-right: 0;
    }
    .contact{
        grid-area: contact;
        padding-left: 0;
        padding-right: 0%;
    }
    #social{
        display: flex;
        justify-content: flex-end;
    }
    #social li{
        margin: 0px 5px 0 5px;
    }
    .welcome{
        font-size: 25px;
        height: 170px;
        background-blend-mode: multiply;
        background-image: url(bg4.jpg);
        background-repeat:unset;
        color: white;
        text-align: center;
        padding-top: 50px;
    
    }
    p,h1,h2{
        text-align: center;
    }
    h2{
        color: #0388A6;
    }
    form{
        text-align:center;
    }
    input{
        height: 50px;
        width: 300px;
        margin-bottom: 20px;
    }
    button{
        color: white;
        background-color: rgb(4, 41, 78);
        border: none;
        width: 305px;
        height: 50px;
    }
    p a{
        text-decoration: none;
        color: rgb(4, 41, 78);
    }
    
    .paymentMethod div{
        display: flex;
        justify-content: center;
        height: 120px;
        margin:20px;
        padding-bottom: 20px;
    }
    .paymentMethod div img{
        margin-left: 30px;
    }
    .footer{
        background-color: #012840;
        color: white;
        padding: 20px;
    }
    
    .footer ul{
        list-style: none;
        display: none;
        text-align: center;
        justify-content: space-evenly;
        
    }
    .menuBtn div {
        border-radius:3px;
        width: 25px;
        height: 4px;
        background-color: rgb(66, 64, 64);
        margin: 3px 3px;
        
      }
      .menuBtn{
          float: right;
        width:31px;
        margin-top:5px;
        height: 24px;
        grid-area: profileList;
        border-radius:3px;
        border: 2px solid rgb(119, 100, 100);
        
      }
    .profile a{
        text-decoration: none;
        color: black;
        display: inline-flex;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
        font-style: oblique;
        margin-left: 3px;

    }
    .profile h3{
        font-size: 27px;
        margin:10px
    }
    #logo{
        padding-top: 8px;
    }
    .profileList a{
        font-family:montserrat;
        font-style: normal;
        
    }

    #hamburgerMenu ul{
        text-align: center;
    }
    .profileList li{
        width: 120px;
        padding: 10px;
    }
    
}